_site
.awcache
.DS_Store
.eslintignore
.eslintrc.js
.idea
.prettierignore
beemo-error.log
coverage
dist
node_modules
npm-debug.log*
package-lock.json
prettier.config.js
public/
stats.json
yarn-debug.log*
yarn-error.log*
yarn.lock
.yarn/
.yarnrc.yml
.editorconfig

# anything with png
*.png
